{% extends 'base.html.twig'  %}
{% block title %}Read, {{ title }} {% endblock %}

{% block body %}

 <div class="nav-wraper container">



    <h3>{{ title }}</h3>

        <div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto dicta facere illo, pariatur voluptates!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta dolores impedit iusto neque omnis reiciendis rem sequi ullam vero.</p>

        </div>

        <h3>Comments ({{ comments|length }})</h3>

        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}

        </ul>
 </div>

{% endblock %}
